<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagamento</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'dashboard/css/payment.css' %}">
</head>
<body>
  <div class="dashboard-container">
    <aside class="sidebar">
      <div class="logo">
        <h2>Dashboard</h2>
      </div>
      <ul class="menu">
        <li class="menu-item">
          <a href="{% url 'dashboard' %}" class="menu-link">
            <span>⚡</span> Dashboard
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'clients' %}" class="menu-link">
            <span>👥</span> Clientes
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'categories' %}" class="menu-link">
            <span>📦</span> Categorias
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'products' %}" class="menu-link">
            <span>🛒</span> Produtos
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'orders' %}" class="menu-link">
            <span>📑</span> Pedidos
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'transmission' %}" class="menu-link">
            <span>📡</span> Transmissão
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'messages' %}" class="menu-link">
            <span>✉️</span> Mensagens
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'users' %}" class="menu-link">
            <span>👤</span> Usuários
          </a>
        </li>
        <li class="menu-item active">
          <a href="{% url 'payment' %}" class="menu-link">
            <span>💳</span> Pagamento
          </a>
        </li>
      </ul>
    </aside>

    <main class="main-content">
      <header class="header">
        <h1>Adicionar nova chave PIX</h1>
      </header>    


      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
      </ul>
        {% endif %}
  
      <!-- Formulário de adição de chave Pix -->
  <form method="POST" action="{% url 'payment' %}">
    {% csrf_token %}
        <label for="pix_key">Chave Pix:</label>
        {{ form.pix_key }}  
        <button type="submit" class="submit-btn">Salvar Chave</button>
      </form>

<!-- Lista de chaves Pix -->
<section class="pix-keys">
    <h2>Chaves cadastradas</h2>
    <table class="pix-table">
        <thead>
            <tr>
                <th>Chave</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
          {% for pix_key in pix_keys %}
                <tr>
                  <td>{{ pix_key.pix_key }}</td> 
                  <td>
                        <form method="POST" action="{% url 'delete_pix_key' pix_key.pk %}">
                            {% csrf_token %}
                            <button class="delete-btn" type="submit">🗑️</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Nenhuma chave Pix cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
    </main>
  </div>

  <!-- Modal Structure -->
  <div id="paymentModal" class="modal">
    <div class="modal-content">
      <h2>Chave PIX adicionada!</h2>
      <p>A sua nova chave PIX foi adicionada com sucesso.</p>
      <button id="closePaymentModal" class="modal-btn">OK</button>
    </div>
  </div>

    <!--<script src="{% static 'dashboard/js/payment.js' %}"></script>-->
</body>
</html>