<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'dashboard/css/register.css' %}">
</head>

<body>
  <div class="login-container">
    <h2>Criar uma nova conta</h2>
    <p>Preencha os dados abaixo para registrar-se.</p>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Insira seu username" required>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" placeholder="Insira seu email" required>
      </div>

      <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1" placeholder="Insira sua senha" required>
      </div>

      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" id="password2" placeholder="Confirme sua senha" required>
      </div>

      <button type="submit">Registrar</button>
    </form>

    {% if form.errors %}
    <div class="errors">
      <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <p class="register-link">Já tem uma conta? <a href="{% url 'login' %}" class="register-link-action">Entrar</a></p>
  </div>
</body>

</html>